@model SecretViewLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SecretViewLogModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialViewDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialViewDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewsCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ViewerMachineName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
